.fnt{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
*{
    margin: 0px;
}
.nv{
    display: flex;
   margin: 5.5rem 10rem;
   justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.banner{
     display:flex ;
    gap: 7.4rem;
    margin: 3rem 9rem;
}
.bimg{
background-image: url(../images/Circle\ design.svg);
background-size: contain;
background-repeat: no-repeat;
}
.bimg img{
width: 100%;
}
.bannerchild{
display:flex;
flex-direction: column;
gap: 1rem;
}
.bannerchild h1{
font-size: 4rem;
}
.bannerchild button,
.post-p button{
padding: 1rem 2.5rem;
font-size: x-large;
color: aliceblue;
background-color: rgba(228, 49, 88, 0.989);
border-radius:90px;
border-style: none;
margin-right: 60%;
}
.container{
    margin: .2rem 1.3rem;
    display: flex;
    justify-content: space-between;
}
.hr{
    display: flex;
    flex-direction: column;
    margin: 2rem 13rem;
}
.carts{
    display: grid;
    grid-template-columns: repeat(3,33%);
    margin: 0 auto;
        margin: 3rem 11rem;

    gap: 2rem;
}
.cart{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 0rem 0rem 3rem 0rem #00000033;
    border-radius: 8px;
}
.cart img{
    border-radius: 8px;

}
.poster{
    display: flex;
    margin:4rem 6rem;
    gap: 4rem;

}
.post-p{
    
}
.post-p h1{
    font-size: 3rem;
}
.post-p{

}

footer{
    background-color: rgb(4, 4, 92);
    margin: 0rem;

}
.ft{
    margin: 0px;
    padding:  4rem 20rem;
    text-align: center;
    color: aliceblue;
}
@media screen and (max-width:576px){
 .nv,ul{
    display: block;
    text-align: center;
    margin: 2rem;
 }
 li{
    margin: .5rem;
 }
 .banner{
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
 }
 .bannerchild button
 .post-p button{
    margin: 1px;
 margin-right:0px;
}
 .hr{
   margin: 1rem;
 }
 .container{
   margin: 1rem 1rem;
   gap: 2rem;
flex-wrap: wrap;
}
.carts{
    margin: 1rem;
    display: block;
}
.poster{
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin: 1rem;
}
.poster img{
 width: 100%;

}
.ft{
    padding: 0px;
}}
